.list {
  margin-left: 0;
  justify-content: left;
  font-weight: 600;
  font-size: 30px;
  text-align: left;
  margin-top: 110px;
}
.title {
  color: black;
  font-size: 48px;
  padding: 0;
  margin: 70, auto;

  text-decoration: none;
}
.link {
  color: blue;
  text-decoration: underline;
}